

.flex {
    background: "white";
     display:"flex";
     justify-content:"space-around";
    padding:"15px";
    gap: 10px;
}


@media only screen and (max-width: 500px) {
    .flex {
      flex-direction: column;
      display: flex;
    }
  }

  @media only screen and (min-width: 729px) {
    .flex {
      flex-direction: row;
      display: flex;
    }
  }

  @media only screen and (min-width: 1080px) {
    .flex {
        display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }